.padded_Y, .login_main, .control_menu ul li a, #users { padding-top: 20px; padding-bottom: 20px; }

.padded_X { padding-right: 20px; padding-left: 20px; }

.before_after_fixed, body:before, .new_user.del:before, .new_user.add:before { content: ""; position: fixed; top: 0; left: 0; width: 100%; height: 100%; }

ul { padding: 0; margin: 0; list-style: none; }

a { display: inline-block; text-decoration: none; cursor: pointer; }

body { font-family: 'Lato', sans-serif; background: url(../img/bg_login_big.jpg) no-repeat; background-size: cover; color: #fff; font-size: 1.1em; position: relative; padding: 0; margin: 0; }

body:before { background-color: rgba(25, 16, 0, 0.85); z-index: -1; }

.errors_style { padding: 20px 0; color: #ff2b1a; font-size: 1.1em; }

.hide { display: none; }

.transition, a, input, select, input[type="submit"], .control_menu ul li, .new_user.del:before, .new_user.add:before { -webkit-transition: all .3s ease-in; transition: all .3s ease-in; }

.wrapper, .wrapper_small { max-width: 1000px; width: 95%; margin: 0 auto; position: relative; }

.wrapper_small { max-width: 450px; }

.flex_box, .form_cont { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-align-content: stretch; -ms-flex-line-pack: stretch; align-content: stretch; }

.form_cont { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.form_main { position: relative; }

.title_h2 { font-size: 2em; text-align: center; }

label { margin: 15px 0; }

input, select { height: 50px; width: 100%; border: none; background-color: rgba(111, 221, 143, 0.5); -webkit-border-radius: 5px; border-radius: 5px; color: #fff; padding-left: 20px; font-size: 1.1em; font-weight: 300; }

input:hover, select:hover { background-color: #65ac87; }

input:focus, select:focus { outline: none; }

input[type="submit"] { margin-top: 20px; width: 250px; border: 1px solid #65ac87; background-color: transparent; cursor: pointer; text-transform: uppercase; font-size: 1.2em; color: #65ac87; padding: 0; }

input[type="submit"]:hover { background-color: #65ac87; color: #fff; }

.control_menu { background-color: #212121; width: 100%; }

.control_menu ul li { display: inline-block; margin-right: -4px; width: 25%; text-align: center; }

.control_menu ul li a { color: #fff; display: block; }

.control_menu ul li:hover { background-color: #eaba45; }

.users_form { overflow: auto; }

.users_table { width: 100%; border-collapse: collapse; }

.users_table thead tr th { text-transform: uppercase; font-size: 1.4em; padding: 15px; background-color: #251f13; }

.users_table tbody tr td { padding: 15px; background-color: rgba(255, 255, 255, 0.15); font-size: 1.1em; text-align: center; position: relative; }

.users_table tbody tr td a { color: #eaba45; }

.users_table tbody tr td a:hover { color: #fff; }

.users_table tbody tr:last-child:not(:first-child) td { padding-top: 0; }

.new_user.del, .new_user.add { color: transparent; }

.new_user.del:hover, .new_user.add:hover { color: transparent; }

.new_user.del:before, .new_user.add:before { content: "\f056"; position: absolute; font-family: FontAwesome; font-size: 1.9em; color: #eaba45; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); height: initial; }

.new_user.del:hover:before, .new_user.add:hover:before { color: #fff; }

.new_user.add:before { content: "\f055"; }

#success, #loading { display: none; }

@media only screen and (max-width: 500px) { body { background-size: initial; }
  .login_main { text-align: center; } }
