h1, h2, h3, h4, h5, h6 { margin: 0; }

.hide { display: none; }

.transition, a { -webkit-transition: all .3s ease-in; transition: all .3s ease-in; }

.padded_Y, .wrapper_small { padding-top: 40px; padding-bottom: 40px; }

.before_after_fixed, .content_main { content: ""; position: fixed; top: 0; left: 0; width: 100%; height: 100%; }

a { display: inline-block; text-decoration: none; }

body { font-family: 'Lato', sans-serif; background: url(../img/404.jpg) no-repeat; background-size: cover; color: #fff; font-size: 1.1em; position: relative; padding: 0; margin: 0; }

.wrapper_small { max-width: 450px; width: 95%; margin: 0 auto; position: relative; }

.flex_box { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-align-content: stretch; -ms-flex-line-pack: stretch; align-content: stretch; }

.page_404 { margin-top: 40px; }

.page_404 h2 { margin-top: 20px; font-size: 2.3em; text-align: center; }

.content_main { background-color: rgba(0, 0, 0, 0.9); z-index: 0; overflow: auto; }
