$white: #fff
$dark_gray: #212121
$green: rgba(111, 221, 143, 0.5)
$dark_green: #65ac87

h1, h2, h3, h4, h5, h6
  margin: 0

.hide
  display: none

.transition
  transition: all .3s ease-in

.padded_Y
  padding:
    top: 40px
    bottom: 40px

.before_after_fixed
  content: ""
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%

a
  @extend .transition
  display: inline-block
  text-decoration: none

body
  font-family: 'Lato', sans-serif
  background: url(../img/404.jpg) no-repeat
  background-size: cover
  color: $white
  font-size: 1.1em
  position: relative
  padding: 0
  margin: 0

.wrapper_small
  @extend .padded_Y
  max-width: 450px
  width: 95%
  margin: 0 auto
  position: relative

.flex_box
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start
  align-items: center
  align-content: stretch

.page_404
  margin-top: 40px

.page_404 h2
  margin-top: 20px
  font-size: 2.3em
  text-align: center

.content_main
  @extend .before_after_fixed
  background-color: rgba(0,0,0,.9)
  z-index: 0
  overflow: auto